IBIM_BACKOFFICE_PATH="/usr/share/nginx/ibim-license-management"
IBIM_BACKOFFICE_PORT=8088
NEW_RELIC_AGENT_VERSION="10.13.0.2"
NEW_RELIC_API_KEY=""
NEW_RELIC_LICENSE_KEY=""
NEW_RELIC_ACCOUNT_ID=""
NEW_RELIC_APP_NAME="IBIM-Backoffice-Development"
BACKOFFICE_STORAGE_VOLUME_PATH="~/dev-backoffice-storage/"